.rural-producers-dashboard {
    margin-bottom: 20px;
}

.rural-producers-dashboard > div {
    padding: 0 10px;
}

.rural-producers-dashboard > div > div {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rural-producers-dashboard .card .number {
    font-size: 50px;
    font-weight: 500;
}

.rural-producers-dashboard .card .subtitle {
    font-size: 14px;
}